body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-drawer-content-wrapper {
  z-index: 1001; /* Asegura que el drawer esté por encima del header */
}

.ant-drawer-header-title{
  align-items: baseline !important;
}

.ant-drawer-footer{
  padding: 0px !important;
}

.ant-drawer-header{
  background-color: white !important;
}

/* .wu-loading-spinner {
  animation: wu-spin 0.9s linear infinite;
}

@keyframes wu-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */